<!DOCTYPE html>
<html>
<head>
	<title>Doctor view</title>
</head>
<body>
	<h1>Tag your patient with a viral disease</h1>
	<form method="POST" action="/update">
		<input type="text" name="email">
		<input type="text" name="disease">
		<input type="submit" name="Go">
	</form>
</body>
</html>