<!DOCTYPE html>
<html>
<head>
	<title>Map view</title>
</head>
<body>
	<h1>Shows viral disease trends in the USA</h1>
	<!-- Show map of viral diseases with mapbox include filters and such and display in real time -->
</body>
</html>